:root {
    --orange: rgb(254, 110, 62);
    --orange-hov: rgb(255, 78, 11);
    --black: rgb(46, 46, 62);
    --gray-text: rgb(141, 141, 141);
    --gray: rgb(204, 204, 204);
    --transparent-white: rgba(240, 240, 240, 0.8);
    --less-transparent-white: rgba(240, 240, 240, 0.85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset button style */
button {
    display: block;
    font-family: inherit;
    font-size: 100%;
    border: none;
    background-color: inherit;
    width: fit-content;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header styles */

header {
    position: absolute;
    width: 100%;
    background-color: var(--transparent-white);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow: 0 0 10px gray;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0.5rem;
}

header nav button {
    height: 1.8rem;
    width: 4rem;

    font-size: 0.9rem;
    font-weight: 700;
    color: var(--black);

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

header nav button::after {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--orange);
    content: "";
    opacity: 0;
    transition: all 0.4s ease-in;
}

header nav button:hover::after,
header nav button.active::after {
    opacity: 1;
}

/* Page content styles */

#content {
    height: 100%;
    display: flex;
    justify-content: center;
    color: var(--black);
}

#content #home {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;

}

#content #home .home-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 7rem;
}

#content #home .home-content > * {
    margin: 0 3rem;
}

#content #home .home-content .description {
    margin: 2rem 3rem;
    color: rgb(120, 120, 120);
}

#content #home .home-content .title {
    margin-bottom: 5rem;
    font-size: 3rem;
    font-weight: 700;
}

#content #home .home-content .menu-button {
    padding: 1rem;
    margin-bottom: min(25%, 7rem);

    cursor: pointer;

    color: white;
    background-color: var(--orange);
    box-shadow: -2px 2px 5px grey;
    border-radius: 4px;

}

#content #home .home-content .menu-button:hover {
    background-color: var(--orange-hov);
}

/* Last child */
#content #home .home-content .contact {
    margin-left: 0;
    margin-bottom: 2rem;
    width: 100%;

    display: grid;
    grid-template-columns: 40% min-content;
    gap: 1rem;
    align-items: center;
}

#content #home .home-content .contact .line {
    height: 2px;
    background-color: var(--orange);
}

#content #home .home-content .contact .icon {
    height: 1.5rem;
}

#content #home .home-content .contact .icon:hover {
    filter: invert(34%) sepia(57%) saturate(2679%) hue-rotate(355deg) brightness(103%) contrast(102%);
}

#content #home .image {
    background: url(./img/diner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/*
    Menu 
*/


#content #menu {
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 6rem 4rem;
    margin-bottom: 3rem;
}

#content #menu .menu-header {
    display: grid;
    gap: 0.5rem;
}

#content #menu .menu-header .description {
    color: var(--orange);
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#content #menu .menu-header .description::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    border-radius: 8px;
    background-color: var(--gray);
}

#content #menu .menu-header .title {
    font-size: 2rem;
    font-weight: 700;
}

#content #menu .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem 5rem;
}

#content #menu .category .title {
    color: var(--orange);
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

#content #menu .category .items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
}

#content #menu .category .item {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-template-areas:
        "image image image"
        "title line price"
        "ingredients ingredients ingredients";
}

#content #menu .category .item .item-image {
    grid-area: image;
    width: min(100%, 20rem);
    margin-bottom: 0.3rem;
}

#content #menu .category .item .item-title {
    grid-area: title;
}

#content #menu .category .item .item-line {
    grid-area: line;
    justify-self: center;
    width: 95%;
    height: 1px;
    background-color: var(--gray);
}

#content #menu .category .item .item-ingredients {
    grid-area: ingredients;

}

#content #menu .category .item .item-price {
    grid-area: price;
}

#content #menu .category .item-ingredients {
    font-size: 0.9rem;
    color: var(--gray-text);
}


/* 
    About
*/


#content #about {
    width: 100%;
    min-height: 100vh;
    background: url(./img/backsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
}

#content #about .about-section {
    background-color: var(--less-transparent-white);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    height: fit-content;
    width: min(80%, 800px);
    margin-top: 6rem;
    margin-bottom: 3rem;
    padding: 3rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#content #about .about-section .image {
    align-self: center;
    min-width: 4rem;
    width: 100%;
    max-width: 15rem;
    border-radius: 50%;
}

#content #about .about-section .title {
    color: var(--orange);
    font-size: 1.4rem;

    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#content #about .about-section .title::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    border-radius: 8px;
    background-color: var(--gray-text);
}

#content #about .about-section .subtitle {
    font-size: 2rem;
    font-weight: 700;
}

#content #about .about-section .description {
    font-size: 0.9rem;
}

#content #about .about-section .contact {
    display: grid;
    grid-auto-flow: column;
}

#content #about .about-section .contact .icon {
    height: 1.5rem;
}

#content #about .about-section .contact .icon:hover {
    filter: invert(34%) sepia(57%) saturate(2679%) hue-rotate(355deg) brightness(103%) contrast(102%);
}